<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>WELCOME TO RELATIVE URL TEMPLATES</h1>
    <!-- basic_app is from the urls.py app_name = 'basic_app' -->
    <!-- other is from urls.py name='other' -->
    <a href="{% url 'basic_app:other' %}">THE OTHER PAGE</a>
    <!-- this is the link to go to the admin page -->
    <!-- admin usually is also an application make sure to run migrations when using this -->
    <a href="{% url 'admin:index' %}">THE ADMIN PAGE</a>
    <!-- this is the link to the index page -->
    <!-- this is different because index is not in your application -->
    <a href="{% url 'index' %}">LINK TO INDEX</a>

  </body>
</html>
